body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1067px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1067px;
  height:818px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4821 {
  position:absolute;
  left:0px;
  top:0px;
  width:1067px;
  height:818px;
}
#u4822 {
  position:absolute;
  left:2px;
  top:401px;
  width:1063px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1067px;
  height:71px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4823 {
  position:absolute;
  left:0px;
  top:0px;
  width:1067px;
  height:71px;
}
#u4824 {
  position:absolute;
  left:2px;
  top:28px;
  width:1063px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:72px;
}
#u4825 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:71px;
}
#u4826 {
  position:absolute;
  left:2px;
  top:28px;
  width:120px;
  word-wrap:break-word;
}
#u4827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4827 {
  position:absolute;
  left:141px;
  top:12px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4828 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u4829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4829 {
  position:absolute;
  left:165px;
  top:44px;
  width:51px;
  height:16px;
}
#u4830 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u4831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:42px;
}
#u4831 {
  position:absolute;
  left:493px;
  top:12px;
  width:1px;
  height:41px;
}
#u4832 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4833 {
  position:absolute;
  left:393px;
  top:25px;
  width:85px;
  height:16px;
}
#u4834 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:42px;
}
#u4835 {
  position:absolute;
  left:622px;
  top:12px;
  width:1px;
  height:41px;
}
#u4836 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4837 {
  position:absolute;
  left:522px;
  top:25px;
  width:85px;
  height:16px;
}
#u4838 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:42px;
}
#u4839 {
  position:absolute;
  left:749px;
  top:12px;
  width:1px;
  height:41px;
}
#u4840 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4841 {
  position:absolute;
  left:649px;
  top:25px;
  width:57px;
  height:16px;
}
#u4842 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4843 {
  position:absolute;
  left:957px;
  top:25px;
  width:95px;
  height:16px;
}
#u4844 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u4845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4845 {
  position:absolute;
  left:27px;
  top:114px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4846 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u4847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:2px;
}
#u4847 {
  position:absolute;
  left:23px;
  top:146px;
  width:1003px;
  height:1px;
}
#u4848 {
  position:absolute;
  left:2px;
  top:-8px;
  width:999px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u4849 {
  position:absolute;
  left:938px;
  top:120px;
  width:85px;
  height:16px;
  color:#0000FF;
}
#u4850 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:569px;
}
#u4851 {
  position:absolute;
  left:27px;
  top:157px;
  width:988px;
  height:569px;
}
#u4852 {
  position:absolute;
  left:2px;
  top:276px;
  width:984px;
  visibility:hidden;
  word-wrap:break-word;
}
