body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1216px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:575px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:1px;
}
#u1804 {
  position:absolute;
  left:0px;
  top:70px;
  width:1024px;
  height:575px;
  font-size:1px;
}
#u1805 {
  position:absolute;
  left:2px;
  top:280px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1807 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
}
#u1808 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:60px;
  color:#FFFFFF;
}
#u1809 {
  position:absolute;
  left:2px;
  top:22px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1810 {
  position:absolute;
  left:128px;
  top:14px;
  width:169px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1811 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:41px;
}
#u1812 {
  position:absolute;
  left:16px;
  top:10px;
  width:88px;
  height:40px;
}
#u1813 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u1814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1814 {
  position:absolute;
  left:697px;
  top:0px;
  width:109px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1814_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:60px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1814.mouseOver {
}
#u1815 {
  position:absolute;
  left:2px;
  top:20px;
  width:105px;
  word-wrap:break-word;
}
#u1816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1816 {
  position:absolute;
  left:806px;
  top:0px;
  width:109px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1817 {
  position:absolute;
  left:2px;
  top:20px;
  width:105px;
  word-wrap:break-word;
}
#u1818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1818 {
  position:absolute;
  left:915px;
  top:0px;
  width:109px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1819 {
  position:absolute;
  left:2px;
  top:20px;
  width:105px;
  word-wrap:break-word;
}
#u1820 {
  position:absolute;
  left:706px;
  top:59px;
  visibility:hidden;
}
#u1820_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1820_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1821 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
}
#u1822 {
  position:absolute;
  left:2px;
  top:37px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1823 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:90px;
}
#u1823_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1824 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:95px;
}
#u1825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1825 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1826 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1827 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u1828 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1829 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u1830 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:78px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1832 {
  position:absolute;
  left:1px;
  top:651px;
  width:1024px;
  height:78px;
  text-align:left;
}
#u1833 {
  position:absolute;
  left:2px;
  top:31px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1835 {
  position:absolute;
  left:400px;
  top:671px;
  width:57px;
  height:16px;
  color:#666666;
}
#u1836 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1837 {
  position:absolute;
  left:483px;
  top:671px;
  width:57px;
  height:16px;
  color:#666666;
}
#u1838 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1839 {
  position:absolute;
  left:580px;
  top:671px;
  width:57px;
  height:16px;
  color:#666666;
}
#u1840 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u1841 {
  position:absolute;
  left:469px;
  top:671px;
  width:1px;
  height:15px;
  color:#666666;
  text-align:left;
}
#u1842 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u1843 {
  position:absolute;
  left:566px;
  top:671px;
  width:1px;
  height:15px;
  color:#666666;
  text-align:left;
}
#u1844 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1845 {
  position:absolute;
  left:319px;
  top:697px;
  width:386px;
  height:16px;
}
#u1846 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  white-space:nowrap;
}
#u1847 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u1848 {
  position:absolute;
  left:19px;
  top:73px;
  width:22px;
  height:19px;
}
#u1849 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1850 {
  position:absolute;
  left:51px;
  top:76px;
  width:221px;
  height:16px;
}
#u1851 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u1852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1852 {
  position:absolute;
  left:1045px;
  top:187px;
  width:171px;
  height:150px;
}
#u1853 {
  position:absolute;
  left:10px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
