body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:629px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:629px;
}
#u71 {
  position:absolute;
  left:2px;
  top:306px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:60px;
  color:#FFFFFF;
}
#u73 {
  position:absolute;
  left:2px;
  top:22px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u74 {
  position:absolute;
  left:128px;
  top:14px;
  width:385px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:41px;
}
#u76 {
  position:absolute;
  left:16px;
  top:10px;
  width:88px;
  height:40px;
}
#u77 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:78px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  position:absolute;
  left:0px;
  top:629px;
  width:1024px;
  height:78px;
}
#u80 {
  position:absolute;
  left:2px;
  top:31px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u82 {
  position:absolute;
  left:441px;
  top:649px;
  width:57px;
  height:16px;
  color:#666666;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u84 {
  position:absolute;
  left:524px;
  top:649px;
  width:57px;
  height:16px;
  color:#666666;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u86 {
  position:absolute;
  left:621px;
  top:649px;
  width:57px;
  height:16px;
  color:#666666;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u88 {
  position:absolute;
  left:510px;
  top:649px;
  width:1px;
  height:15px;
  color:#666666;
}
#u89 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u90 {
  position:absolute;
  left:607px;
  top:649px;
  width:1px;
  height:15px;
  color:#666666;
}
#u91 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  position:absolute;
  left:360px;
  top:675px;
  width:386px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u95 {
  position:absolute;
  left:55px;
  top:106px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  position:absolute;
  left:42px;
  top:146px;
  width:57px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u100 {
  position:absolute;
  left:339px;
  top:106px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u101 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102 {
  position:absolute;
  left:326px;
  top:146px;
  width:57px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u105 {
  position:absolute;
  left:630px;
  top:106px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107 {
  position:absolute;
  left:610px;
  top:146px;
  width:71px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u110 {
  position:absolute;
  left:908px;
  top:106px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u111 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112 {
  position:absolute;
  left:909px;
  top:146px;
  width:29px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u114 {
  position:absolute;
  left:109px;
  top:121px;
  width:200px;
  height:1px;
}
#u115 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u116 {
  position:absolute;
  left:400px;
  top:121px;
  width:200px;
  height:1px;
}
#u117 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u118 {
  position:absolute;
  left:691px;
  top:121px;
  width:200px;
  height:1px;
}
#u119 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121 {
  position:absolute;
  left:360px;
  top:275px;
  width:300px;
  height:40px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122 {
  position:absolute;
  left:304px;
  top:287px;
  width:43px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u126 {
  position:absolute;
  left:360px;
  top:380px;
  width:147px;
  height:40px;
}
#u126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  position:absolute;
  left:293px;
  top:349px;
  width:57px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:28px;
}
#u129 {
  position:absolute;
  left:360px;
  top:343px;
  width:149px;
  height:27px;
}
#u130 {
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u131 {
  position:absolute;
  left:343px;
  top:484px;
  width:300px;
  height:40px;
}
#u132 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u133 {
  position:absolute;
  left:1169px;
  top:237px;
  width:209px;
  height:16px;
  color:#FF0000;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
