body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1067px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1067px;
  height:818px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4010 {
  position:absolute;
  left:0px;
  top:0px;
  width:1067px;
  height:818px;
}
#u4011 {
  position:absolute;
  left:2px;
  top:401px;
  width:1063px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1067px;
  height:71px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4012 {
  position:absolute;
  left:0px;
  top:0px;
  width:1067px;
  height:71px;
}
#u4013 {
  position:absolute;
  left:2px;
  top:28px;
  width:1063px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:72px;
}
#u4014 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:71px;
}
#u4015 {
  position:absolute;
  left:2px;
  top:28px;
  width:120px;
  word-wrap:break-word;
}
#u4016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4016 {
  position:absolute;
  left:141px;
  top:12px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4017 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u4018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4018 {
  position:absolute;
  left:165px;
  top:44px;
  width:51px;
  height:16px;
}
#u4019 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u4020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:42px;
}
#u4020 {
  position:absolute;
  left:493px;
  top:12px;
  width:1px;
  height:41px;
}
#u4021 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4022 {
  position:absolute;
  left:393px;
  top:25px;
  width:85px;
  height:16px;
}
#u4023 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:42px;
}
#u4024 {
  position:absolute;
  left:622px;
  top:12px;
  width:1px;
  height:41px;
}
#u4025 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4026 {
  position:absolute;
  left:522px;
  top:25px;
  width:85px;
  height:16px;
}
#u4027 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:42px;
}
#u4028 {
  position:absolute;
  left:749px;
  top:12px;
  width:1px;
  height:41px;
}
#u4029 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4030 {
  position:absolute;
  left:649px;
  top:25px;
  width:57px;
  height:16px;
}
#u4031 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4032 {
  position:absolute;
  left:957px;
  top:25px;
  width:95px;
  height:16px;
}
#u4033 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u4034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4034 {
  position:absolute;
  left:27px;
  top:114px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4035 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u4036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:2px;
}
#u4036 {
  position:absolute;
  left:23px;
  top:148px;
  width:1003px;
  height:1px;
}
#u4037 {
  position:absolute;
  left:2px;
  top:-8px;
  width:999px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:424px;
}
#u4038 {
  position:absolute;
  left:50px;
  top:434px;
  width:140px;
  height:424px;
}
#u4039 {
  position:absolute;
  left:2px;
  top:204px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:744px;
}
#u4040 {
  position:absolute;
  left:200px;
  top:114px;
  width:830px;
  height:744px;
}
#u4041 {
  position:absolute;
  left:2px;
  top:364px;
  width:826px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:2px;
}
#u4042 {
  position:absolute;
  left:210px;
  top:148px;
  width:801px;
  height:1px;
}
#u4043 {
  position:absolute;
  left:2px;
  top:-8px;
  width:797px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4044 {
  position:absolute;
  left:214px;
  top:125px;
  width:431px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4045 {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  white-space:nowrap;
}
#u4046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 191, 241, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4046 {
  position:absolute;
  left:497px;
  top:791px;
  width:140px;
  height:40px;
}
#u4047 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:816px;
  height:560px;
}
#u4048 {
  position:absolute;
  left:209px;
  top:153px;
  width:816px;
  height:560px;
}
#u4049 {
  position:absolute;
  left:2px;
  top:272px;
  width:812px;
  visibility:hidden;
  word-wrap:break-word;
}
